Visma_Salary_Import/VismaSalary.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SalaryData">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="TimeCodes" type="xs:string" />
        <xs:element name="Projects" type="xs:string" />
        <xs:element name="ResultUnits" type="xs:string" />
        <xs:element name="SalaryDataEmployee">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Employee">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="NormalWorkingTimes" type="xs:string" />
                    <xs:element name="Times">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Time">
                            <xs:complexType>
                              <xs:attribute name="DateOfReport" type="xs:date" use="required" />
                              <xs:attribute name="TimeCode" type="xs:unsignedByte" use="required" />
                              <xs:attribute name="SumOfHours" type="xs:decimal" use="required" />
                              <xs:attribute name="TimeStart" type="xs:string" use="required" />
                              <xs:attribute name="TimeEnd" type="xs:string" use="required" />
                              <xs:attribute name="ProjectCode" type="xs:string" use="required" />
                              <xs:attribute name="ResultUnitCode" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="TimeAdjustments" type="xs:string" />
                    <xs:element name="TimeBalances">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="TimeBalance">
                            <xs:complexType>
                              <xs:attribute name="TimeCode" type="xs:string" use="required" />
                              <xs:attribute name="PeriodRegHours" type="xs:string" use="required" />
                              <xs:attribute name="ConvPeriodRegHours" type="xs:decimal" use="required" />
                              <xs:attribute name="AccRegHours" type="xs:string" use="required" />
                              <xs:attribute name="ConvAccRegHours" type="xs:decimal" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="RegOutlays">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="RegOutlay">
                            <xs:complexType>
                              <xs:attribute name="DateOfReport" type="xs:date" use="required" />
                              <xs:attribute name="OutlayCode" type="xs:unsignedShort" use="required" />
                              <xs:attribute name="OutlayCodeName" type="xs:string" use="required" />
                              <xs:attribute name="OutlayType" type="xs:string" use="required" />
                              <xs:attribute name="NoOfPrivate" type="xs:string" use="required" />
                              <xs:attribute name="Unit" type="xs:string" use="required" />
                              <xs:attribute name="SumOfPrivate" type="xs:string" use="required" />
                              <xs:attribute name="SumOfPrivateTax" type="xs:string" use="required" />
                              <xs:attribute name="InternNote" type="xs:string" use="required" />
                              <xs:attribute name="ProjectCode" type="xs:string" use="required" />
                              <xs:attribute name="ResultUnitCode" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="EmploymentNo" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="Signature" type="xs:string" use="required" />
                  <xs:attribute name="FirstName" type="xs:string" use="required" />
                  <xs:attribute name="Name" type="xs:string" use="required" />
                  <xs:attribute name="PersonalNo" type="xs:unsignedLong" use="required" />
                  <xs:attribute name="HourlyWage" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="EmplCategory" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="FromDate" type="xs:date" use="required" />
                  <xs:attribute name="ToDate" type="xs:date" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="FromDate" type="xs:date" use="required" />
            <xs:attribute name="ToDate" type="xs:date" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="ProgramName" type="xs:string" use="required" />
      <xs:attribute name="Version" type="xs:string" use="required" />
      <xs:attribute name="ExportVersion" type="xs:decimal" use="required" />
      <xs:attribute name="Created" type="xs:date" use="required" />
      <xs:attribute name="Type" type="xs:string" use="required" />
      <xs:attribute name="Language" type="xs:string" use="required" />
      <xs:attribute name="CompanyName" type="xs:string" use="required" />
      <xs:attribute name="OrgNo" type="xs:string" use="required" />
      <xs:attribute name="Imported" type="xs:unsignedByte" use="required" />
      <xs:attribute name="BookDistributionProject" type="xs:unsignedByte" use="required" />
      <xs:attribute name="BookDistributionResultUnit" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>